/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     padding: 10px;
		 /*background-color:#EAD1DCFF;*/
      background-color:#EEE2DC;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.vendor_img {
  width: 300px;
  height: 350px;
  text-align: center;
}

.rating {
  width: 100px;
  height: 20px;
}

.name{
width: 100px;

}

.price{
text-align:center;
}




/*.vendor p {
  color:white;
  text-decoration: none;
}*/
.small-img {
  border-width: 100000px;
}

header{
	width:100%;
	background-color:#EAD1DCFF;
	height:50px;
	line-height:20px;
	border-bottom:1px solid #dddddd;
}

/*nav{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
nav ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
nav li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
nav li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
nav ul li a { text-decoration:none;  margin: 0px; color:#666;}
nav ul li a:hover {  color: #666; text-decoration:none;}
nav a{text-decoration:none; color:#666;}
nav a:hover{text-decoration:none; color:#666;}*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#burger {
	padding-left:0px;
	padding-right:20px;
}

/*#main {
    transition: margin-left .5s;
    padding: 16px;
}*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.thumbnail{
	border-color: lightGrey;
}

.hamburger{
	background-color: #ffffff00; /* Transparent background */
	border: none; /* Remove borders */
	color: black; /* Black */
	padding: 0px 30px 0px 0px; /* Some padding */
	font-size: 2.5em; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

.homeButton {
	background-color: #ffffff00; /* Transparent background */
	border: none; /* Remove borders */
	color: black; /* Black */
	padding: 0px 30px 0px 0px; /* Some padding */
	font-size: 2.5em; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

.title {
	background-color: #ffffff00; /* Transparent background */
	border: none; /* Remove borders */
	color: black; /* Black */
	padding: 0px 0px 0px 0px; /* Some padding */
	font-size: 2.5em; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

.postButton {
	background-color: #ffffff00; /* Transparent background */
	border: none; /* Remove borders */
	color: black; /* Black */
	padding: 0px 0px 0px 0px; /* Some padding */
	font-size: 2.5em; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	float:right;
}

.infoButton {
	background-color: #ffffff00; /* Transparent background */
	border: none; /* Remove borders */
	color: black; /* Black */
	font-size: 1.0em;
	cursor: pointer; /* Mouse pointer on hover */
}

.info {
	display: none;
	font-size: 19px;
	line-height: 22px;
	color: black;
}

input[type='checkbox'] {
  width:30px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
	position:relative;
	top: 6px;
}

#postSnack{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#postSnack.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#claimSnack{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#claimSnack.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#unclaimSnack{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#unclaimSnack.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#name{
visibility: hidden;
min-width: 250px;
background-color: #333;
color: white;
text-align:center;
border-radius: 2px;
padding: 16px;
position: fixed;
z-index: 1;
left:50%;
bottom: 30px;
font-size: 17px;
}
#friendSnack{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#friendSnack.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


* {
  box-sizing: border-box;
}


.dropbtn {
  background-color: #EDC7B7;
  color: white;
  padding: 30px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #76A8C8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #EDC7B7;}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #EDC7B7;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.tab a{
float: left;
 padding: 12px;
  color: white;
text-decoration: none;
  font-size: 17px;
width: 16.66%;
text-align: center;
}

 .tab a:hover{
  background-color: #C8D2D8;
}

 .tab a.active{
  background-color: #4CAF50;
}

 @media screen and (max-width: 500px) {
  .tab a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}







@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

header{display:inline-block; font-size:14px;}
span{padding-left:20px}
a{color:#336699;}


.tab {
	width: 100%;
	background-color: #EDC7B7;
    
/*	background-color: #9D2A3A; */
	overflow: auto;
}

.tab a{
	float: left;
 	padding: 12px;
  	color: white;
	text-decoration: none;
  	font-size: 17px;
	width: 16.66%;
	text-align: center;
}

 .tab a:hover{
  background-color: #E3D1C9;
 /* background-color: #BF5E6B;*/
}

 .tab a.active{
  background-color: #4CAF50;
}

 @media screen and (max-width: 500px) {
  .tab a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }

}


* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}


ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}



.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: #EDC7B7;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

#myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

#vendorInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
 position: absolute;
 left: 50%;
 top:40%;
 transform:translate(-50%, -50%);
}

#priceInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
position: absolute;
 left: 50%;
 top:47%;
 transform:translate(-50%, -50%);

}

#profile input {
 margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #EDC7B7;
  color: #ffffff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn1 {
  padding: 10px;
  width: 25%;
  background: #EEE2DC;
  color: #ffffff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.addBtn2 {
  padding: 10px;
  width: 25%;
  background: #EEE2DC;
  color: #ffffff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translate(-50%, -50%);
}

.addBtn:hover {
  background-color: #E3D1C9;
}


#searchResult{
 margin: 110;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 2px;


}



#totalBudget{
  font-style:italic;
  text-align: center;
}

#remain {
  font-style:italic;
  text-align: center;
}
